@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome, new to feature toggles, you are. </h1>
        <img class="img" src="../.images/yoda.png" />
    </div>
